body {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url(background-image.jpg);
  background-size: cover;
  background-blur: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.container h2 {
  text-align: center;
  color: #fff;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.input-group input[type="submit"] {
  background-color: #4c00ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group input[type="submit"]:hover {
  background-color: #5700e2;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
